@import '_variables.scss';
@import './sort.scss';
@import './search.scss';
@import './list.scss';
@import './table.scss';
@import './details.scss';

* {
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

main {
  display: flex;
  height: 100%;
}

html,
body {
  max-height: 100%;
  margin:0;
  padding:0;
  max-width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.App {
  margin: 4rem;
}

@media only screen and (max-width: 500px) {
  .App {
      margin: 1rem 0;
  }
}
